<%- include("partials/heading") -%>
    <h1>Question #<%= questionNumber %></h1>
    <h3><%= question %></h3>
    <form action="/answer" method="post">
      <% choices.forEach(function(choice){ %>
        <div class="choices">
          <input type="checkbox" name="checkbox" value="<%= choice %>" onchange="this.form.submit()">
          <p><%= choice %></p>
        </div>
        <br>
      <% }) %>
    </form>
  <%- include("partials/footer") -%>
